<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <table class="table table-striped ">
            <thead>
            <th>#</th>
            <th>상품명</th>
            <th>가격</th>
            <th>재고수량</th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="itemEntity : ${itemEntities}">
                <td th:text="${itemEntity.id}"></td>
                <td th:text="${itemEntity.name}"></td>
                <td th:text="${itemEntity.price}"></td>
                <td th:text="${itemEntity.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/itemEntities/{id}/edit (id=${itemEntity.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div>  <!--/container-->

</body>

</html>